

h1 {
  color: white;
  font-size:50px;
  font-family:Verdana;
  text-align: center;
  font-weight: normal;
}

h2 {
  color: white;
  font-size:42px;
  font-family:Verdana;
  text-align: center;
  font-weight: 300;
}

h3 {
  color: gray;
  font-size:21px;
  font-family:Verdana;
  text-align: center;
}

/* unvisited link */
a:link {
    color: Aquamarine;
    font-size:16px;
}

/* visited link */
a:visited {
    color: Aquamarine;
}

h6 {
  color: white;
  text-align: right;
}

body {
  background-color: black;
  text-align: center;
}
